Package: com.ziph0n.beepbeep
Name: Beep Beep
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: Choose what happens when you plug in your device!
Maintainer: Ziph0n
Author: Ziph0n
Section: Tweaks
Version: 2.0-1
Installed-Size: 308
